;; Analyzed by ClojureScript 1.8.51
{:use-macros nil, :excludes #{}, :name cljs.user, :imports nil, :requires {untangled.client.impl.util untangled.client.impl.util, untangled.client.core untangled.client.core, util untangled.client.impl.util, devtools devtools.core, cljs.pprint cljs.pprint, app.ui app.ui, ui app.ui, devtools.core devtools.core, app.core app.core, uc untangled.client.core}, :uses {pprint cljs.pprint, app app.core}, :defs {log-app-state {:name cljs.user/log-app-state, :file "dev/client/cljs/user.cljs", :line 16, :column 1, :end-line 16, :end-column 19, :meta {:file "/Users/peterwilkins/getting-started-video/dev/client/cljs/user.cljs", :line 16, :column 6, :end-line 16, :end-column 19}}}, :require-macros {cljs.pprint cljs.pprint}, :cljs.analyzer/constants {:seen #{:sanity-hints}, :order [:sanity-hints]}, :doc nil}