;; Analyzed by ClojureScript 1.8.51
{:name untangled.i18n.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {*current-locale* {:name untangled.i18n.core/*current-locale*, :file "resources/public/js/compiled/dev/untangled/i18n/core.cljs", :line 3, :column 1, :end-line 3, :end-column 22, :meta {:file "/Users/peterwilkins/getting-started-video/resources/public/js/compiled/dev/untangled/i18n/core.cljs", :line 3, :column 6, :end-line 3, :end-column 22}}, *loaded-translations* {:name untangled.i18n.core/*loaded-translations*, :file "resources/public/js/compiled/dev/untangled/i18n/core.cljs", :line 5, :column 1, :end-line 5, :end-column 27, :meta {:file "/Users/peterwilkins/getting-started-video/resources/public/js/compiled/dev/untangled/i18n/core.cljs", :line 5, :column 6, :end-line 5, :end-column 27}}}}