;; Analyzed by ClojureScript 1.8.51
{:name app.mutations, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {m untangled.client.mutations, untangled.client.mutations untangled.client.mutations}, :imports nil, :cljs.analyzer/constants {:seen #{:tabs :state app/choose-tab :action :tab}, :order [app/choose-tab :state :tab :action :tabs]}}